<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    <link rel="stylesheet" th:href="@{/css/member/dashboardMember.css}">
</head>
<body>
<header>
    <div class="header-content">
        <h1>Gym Management and Online Coaching Platform</h1>
    </div>
</header>
<div class="container">
    <nav class="sidebar">
        <img th:src="@{/images/gymLogo.png}" alt="gym Logo" class="logo">
        <ul>
            <li><a th:href="@{/member/dashboard}">HOME</a></li>
            <li><a th:href="@{/member/dashboard_reservation}">RESERVATION</a></li>
            <li><a href="#">ATTENDANCE</a></li>
            <li><a href="#">DAILY REPORTS</a></li>
            <li><a href="#">PAYMENTS</a></li>
            <li><a href="#">DETAILS</a></li>

            <form action="/member/logout" method="post">
                <button type="submit" class="btn logout-btn">Log out</button>
            </form>


        </ul>
    </nav>

    <main class="content">
        <p>Start Workouts With Next Workout Plan</p>
        <p>Starting a new workout plan is a step toward becoming stronger and healthier. Each session is a chance to push your limits and grow. Stay focused, stay consistent, and remember that progress comes with commitment. Every workout gets you closer to your goal—keep moving forward!</p>

        <div class="details-card">
            <div class="details-card-2">
                <strong>Scheduled Date :</strong> <span></span>

            </div>

        </div>


    </main>
</div>


</body>
</html>
